@use '../../styles/color' as color;
@use '../../styles/radius' as radius;
@use '../../styles/spacing' as spacing;
@use '../../styles/type' as type;

.root {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: radius.$radius-x-large;
  outline: none;
  text-decoration: none;
  appearance: none;
  cursor: pointer;
  font: type.$type-body-tiny;
  font-weight: 600;
  padding-top: spacing.$spacing-1-5;
  padding-bottom: spacing.$spacing-1-5;
  padding-left: spacing.$spacing-2-5;
  padding-right: spacing.$spacing-2-5;
  border-radius: radius.$radius-x-large;
  background-color: color.$color-upgrade;
  color: color.$color-primary;

  &:focus-visible {
    outline: color.$color-accent auto 1px;
    outline: activeborder auto 1px;
    outline: -moz-mac-focusring auto 1px;
    outline: -webkit-focus-ring-color auto 1px;
  }
}
