@use '../../../styles/media' as media;
@use '../../../styles/spacing' as spacing;
@use '../../../styles/type' as type;

.root {
  margin-bottom: spacing.$spacing-1;

  @media only screen and (max-width: #{media.$media-desktop}) {
    font: type.$type-display-medium;
    font-weight: 700;
  }
}
