@use '../../styles/color' as color;
@use '../../styles/radius' as radius;
@use '../../styles/spacing' as spacing;

.root {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: radius.$radius-pill;
  outline: none;
  background-color: transparent;
  text-decoration: none;
  appearance: none;
  cursor: pointer;

  background-color: color.$color-upgrade;
  color: color.$color-primary;
  line-height: 0;

  &.small {
    padding-top: spacing.$spacing-0-5;
    padding-bottom: spacing.$spacing-0-5;
    padding-left: spacing.$spacing-0-5;
    padding-right: spacing.$spacing-0-5;
  }

  &.medium {
    padding-top: spacing.$spacing-1;
    padding-bottom: spacing.$spacing-1;
    padding-left: spacing.$spacing-1;
    padding-right: spacing.$spacing-1;
  }

  &:focus-visible {
    outline: color.$color-accent auto 1px;
    outline: activeborder auto 1px;
    outline: -moz-mac-focusring auto 1px;
    outline: -webkit-focus-ring-color auto 1px;
  }
}
