@use '../transaction-history-common' as transactionHistoryCommon;
@use '../../../styles/color' as color;
@use '../../../styles/media' as media;
@use '../../../styles/radius' as radius;
@use '../../../styles/spacing' as spacing;

.root {
  padding-top: spacing.$spacing-1-5;
  padding-bottom: spacing.$spacing-1-5;
  @include transactionHistoryCommon.transaction-list-grid;

  &:not(:last-child) {
    box-shadow: 0 -1px 0 0 color.$color-divider inset;
  }

  &:last-child {
    margin-bottom: calc(-1 * spacing.$spacing-1-5);
  }
}

.receiver {
  grid-area: receiver;
  display: flex;
  align-items: flex-start;
  column-gap: spacing.$spacing-2;

  & .icon {
    flex-shrink: 0;
    width: spacing.$spacing-3;
    padding: spacing.$spacing-0-5;
    border-radius: radius.$radius-small;
    background-color: color.$color-divider;
    color: color.$color-primary;
  }
}

// See how WCS handles changes when combining definitions
.type,
.date {
  color: color.$color-secondary;

  @media only screen and (max-width: #{media.$media-tablet}) {
    margin-left: spacing.$spacing-5;
  }
}

.type {
  grid-area: type;
}

.date {
  grid-area: date;
}

.amount {
  grid-area: amount;
  font-weight: 600;
  letter-spacing: -0.03em;
  text-align: right;
  font-feature-settings: 'cv10', 'cv11', 'ss01', 'tnum';
}
