@use './styles/media' as media;
@use './styles/spacing' as spacing;

.root {
  height: 100%;
}

.header {
  margin-bottom: spacing.$spacing-6;
}

.dashboardGrid {
  display: grid;

  @media only screen and (min-width: #{media.$media-wide-desktop + 1}) {
    grid-template-columns: minmax(38rem, 1fr) auto;
    column-gap: spacing.$spacing-4;
  }

  @media only screen and (max-width: #{media.$media-wide-desktop}) {
    row-gap: spacing.$spacing-5;
  }
}

.mainColumn {
  display: flex;
  flex-direction: column;
  row-gap: spacing.$spacing-2-5;
}

.secondaryColumn {
  display: flex;
  flex-direction: column;
  row-gap: spacing.$spacing-5;

  @media only screen and (min-width: #{media.$media-wide-desktop + 1}) {
    width: 30rem;
  }

  & .userActionsSection {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: spacing.$spacing-2;

    @media only screen and (min-width: #{media.$media-wide-desktop + 1}) {
      grid-template-columns: 2fr 1fr;
    }

    @media only screen and (max-width: #{media.$media-wide-desktop}) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
